.page {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;

  div:first-child {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      width: 30px;
      height: 30px;
    }
  }
}